<tr>
  <td>
    <mat-card class="example-card" style="height: 400">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Docker </mat-card-title>
        <mat-card-subtitle>The world's leading software containerrization platform</mat-card-subtitle>
      </mat-card-header>
      <iframe src="//www.youtube.com/embed/1LRzlUoyZg4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
        width="100%">
      </iframe>
      <td></td>
      <mat-card-content>
        <p>
          Docker is the company driving the container movement and the only container platform provider to address every application
          across the hybrid cloud. Today’s businesses are under pressure to digitally transform but are constrained by existing
          applications and infrastructure while rationalizing an increasingly diverse portfolio of clouds, datacenters and
          application architectures. Docker enables true independence between applications and infrastructure and developers
          and IT ops to unlock their potential and creates a model for better collaboration and innovation.
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions> -->
    </mat-card>
  </td>
  <td>
    <mat-card class="example-card" style="height: 400">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Angular </mat-card-title>
        <mat-card-subtitle>AngularJS is a JavaScript-based open-source front-end web application framework</mat-card-subtitle>
      </mat-card-header>
      <iframe src="//www.youtube.com/embed/WAZTZUgeLhQ" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
        width="100%">
      </iframe>
      <td></td>
      <mat-card-content>
        <p>
          AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community
          of individuals and corporations to address many of the challenges encountered in developing single-page applications.
          Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
          dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular
          empowers developers to build applications that live on the web, mobile, or the desktop
        </p>
      </mat-card-content>
    </mat-card>
  </td>
  <td>
    <mat-card class="example-card" style="height: 400">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Node </mat-card-title>
        <mat-card-subtitle>Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side.</mat-card-subtitle>
      </mat-card-header>
      <iframe src="//www.youtube.com/embed/nZRbnBBupBI" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
        width="100%">
      </iframe>
      <td></td>
      <mat-card-content>
        <p>
          Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side. Historically,
          JavaScript was used primarily for client-side scripting, in which scripts written in JavaScript are embedded in
          a webpage's HTML, to be run client-side by a JavaScript engine in the user's web browser. Node.js enables JavaScript
          to be used for server-side scripting, and runs scripts server-side to produce dynamic web page content before the
          page is sent to the user's web browser.
        </p>
      </mat-card-content>
    </mat-card>
  </td>
</tr>


