<div class="container" class="center">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="center">
    <div formGroupName="userData">
      <mat-form-field>
        <input matInput type="text" placeholder="email or nickname" formControlName="email">
      </mat-form-field>      
      <br>
      <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!signinForm.valid"  type="submit">SignIn</button>
    <button mat-raised-button color="primary" type="button" [routerLink]="['/devices']">Cancel</button>
  </form>
  <div *ngIf="!logged && submited" >
    <h1>User no found</h1>
  </div>
</div>
