<!-- <div>
  <div style="float:left; overflow-y: scroll; height:800px ">
    <app-devices-list (deviceSelected)="updateSelectedDevice($event)"></app-devices-list>
  </div>
  <div style="float:left">
    <div style="display: inline-block; padding: 50px; ">
        <app-device-detail [device]="selectedDevice"></app-device-detail>
        <button mat-button >My Button</button>
        <button mat-button>Click me!</button>
    </div>
  </div>
</div> -->

<app-header ></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

