<mat-card appHighlight>
  <ng-content> </ng-content>

  {{ device.type }} -- {{ device.name }} -- {{ device.desc }}

  <div style="float: right">
    <button mat-icon-button matTooltip="Delete">
      <i class="material-icons">delete</i>
    </button>
    <!-- [routerLink]="['/devices', device._id ]" -->
    <button mat-icon-button matTooltip="Details"  [routerLink]="['/devices', device._id ]"
     (click)="testing()" >
      <i class="material-icons">remove_red_eye</i>
    </button>
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="nav navbar-nav navbar-right">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </div>

</mat-card>
