.center {
  margin: auto;
  width: 50%;
  /* padding: 5px; */
}
.center-text{
  text-align: center;
  /* background: #d5deed; */
}
.filter-center{
  /* background: #d5deed; */
  margin: auto;
  width: 95%;
  text-align: center;
  /* padding: 5px; */
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
